*.o
*.s
*.project

code/bin/coff2noff
code/test/*
!code/test/*.c
!code/test/*.s
!code/test/script
!code/test/Makefile
!code/test/Makefile.ori

tp3/code/bin/coff2noff
tp3/code/test/*
!tp3/code/test/*.c
!tp3/code/test/script
!tp3/code/test/Makefile
!tp3/code/test/Makefile.ori

tp4/code/bin/coff2noff
tp4/code/test/*
!tp4/code/test/*.c
!tp4/code/test/script
!tp4/code/test/Makefile
!tp4/code/test/Makefile.ori

tp5/code/bin/coff2noff
tp5/code/test/*
!tp5/code/test/*.c
!tp5/code/test/script
!tp5/code/test/Makefile
!tp5/code/test/Makefile.ori

**/nachos